function findf {
    find . -type f -iname "*${@}*" -not -path "*/node_modules/*" -not -path "*/bower_components/*"
}

function findf0 {
    find . -type f -iname "*${@}*" -print0
}

function gsq {
    git reset --soft ${1}~1 && git commit --edit -m"$(git log --format=%B --reverse HEAD..HEAD@{1})"
}

function jsonfix {
    filename="${1}"
    python -m json.tool "${filename}" > "${filename}.tmp"
    mv "${filename}.tmp" "${filename}"
}

function grc {
    git reset HEAD "${1}" && git checkout "${1}"
}

function gch {
    if [ ${#} -eq 1 ]; then
        git checkout $(git branch | grep -m 1 -i "${1}")
    else
        git checkout ${@}
    fi
}

alias urldecode='python -c "import sys, urllib as ul; \
    print ul.unquote_plus(sys.argv[1])"'

alias urlencode='python -c "import sys, urllib as ul; \
    print ul.quote_plus(sys.argv[1])"'

alias ll='ls -l'
alias unstaged="git status | sed '1,/Unmerged/d' | grep : | awk '{\$1=\$1;print}' | awk -F ': ' '{print \$2}' | head -n 1"
alias unquarantine='xattr -dr com.apple.quarantine'
alias chmod-value='stat -f "%OLp"'
alias newest='ls -t | head -1'
alias ack='ack --ignore-dir tmp --ignore-dir dist --ignore-dir public \
               --ignore-dir vendor --ignore-dir bower_components \
               --ignore-dir node_modules --ignore-dir log \
               --ignore-dir _compiled'

alias g='git'
alias gu='git update'
alias gb='git branch'
alias gs='git status'
alias ga='git add -A'
alias gr='git rm'
alias gc='git commit -m'
alias gl='git log'
alias gd='git diff HEAD'
alias gp='git pull'
alias glg="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
alias glo='git log --pretty=oneline --abbrev-commit'
alias gcl='git clean -f -d'
alias gca='git commit --amend'
alias gpp='git pull && git push'
alias gbc="git branch | grep '*' | cut -d' ' -f 2-"
alias gra='git rm $(git ls-files -d)'
alias gst='git stash'
alias gss='git stash save "snapshot: $(date)" && git stash apply "stash@{0}"'
alias gstp='git stash pop'
alias gstl='git stash list'

alias ..='cd ..'
alias .='cd .'
alias -- -='cd -'
